@page
@model TestUserLogIn.Pages.MemberInfoModel
@{
	ViewData["Title"] = "Member Role";
}
@if (Model.Roles.Count > 1)
{
	<h2 class="mb-4">Member Roles</h2>
}
else
{
	<h2 class="mb-4">Member Role</h2>
}

<div class="card shadow-sm mb-4">
	<div class="card-body">
	 @* <p>Welcome, @Model.UserName!</p>
	<p>Your email is: @Model.Email</p>
	<p>Your role is: @Model.Role</p>
	<p>Member since: @Model.MemberSince.ToShortDateString()</p> *@ 
		<h4 class="card-title">Welcome, @Model.UserName!</h4>
		<p>Our records show that you have the following roles</p>
		<table class="table table-hover align-middle">
			<thead class="table-light">
				<tr>
					<th>Role</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<ul>
						@foreach (var role in Model.Roles)
						{
							<li>@role</li>
						}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

		
	<p>Thank you for being a member!</p>
