@page
@model TestUserLogIn.Pages.MemberInfoModel
@{
	ViewData["Title"] = "Member Information";
}

<div class="text-center">
	<h1 class="display-4">Member Information</h1>
	 @* <p>Welcome, @Model.UserName!</p>
	<p>Your email is: @Model.Email</p>
	<p>Your role is: @Model.Role</p>
	<p>Member since: @Model.MemberSince.ToShortDateString()</p> *@ 
	<h3>Welcome, @Model.UserName!</h3>
	<p>This our Members Information Page our records show that you have the following roles</p>
	<ul class="w-auto">
		@foreach (var role in Model.Roles)
		{
			<li class="alert-info">@role</li>
		}	
	</ul>
	<p>Thank you for being a member!</p>
